/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./components/counter/counter.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.tech-slideshow {
  height: 200px;
  width: 100vw; /* Full width of the viewport */
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 200px;
  width: 300vw; /* 300% of the viewport width */
  background: url(https://i.ibb.co/bPqw4cw/greyslide.png);
  background-size: 1000px; /* Use the actual width of your image */
  position: absolute;
  top: 40px;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1,
.tech-slideshow .mover-2 {
  animation: moveSlideshow 20s linear infinite;
}

.tech-slideshow:hover .mover-1 {
  opacity: 1;
  animation-play-state: paused;
  cursor: pointer;
}

.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-100vw); /* Slide by 100% of the viewport width */
  }
}

